body{
    font-family:Abadi;
    color: #694545;
}
#dashboard{
    display: grid;
    grid-template-columns: 20% 80%;
}

#leftMenu{
    background-color: #c8d5e2;
    color: wheat;
    text-align: center;
}
#rightContent{
    background-color: #e1e9f0;

}
#rightContent button{
    border: none;
    background-color: #796868;
    color: #e1e9f0;
    border-radius: 10px;
}
#rightContent button:hover{
    background-color: #694545;
    color: white;
}
#btn1{
padding: 20px 90px;
border: none;
}
#btn2{
    padding: 20px 116px;
    border: none;
}
#btn3{
    padding: 20px 120px;
    border: none;
}
.btn{
    font-size:large;
    font-weight: bold;
    color: #694545;
    font-family:Abadi;
    background-color: #c8d5e2;;
}
.btn:hover{
    background-color: #7c6d6d;
    color: white;
}
#AyCard{
    display: flex;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#AyCard input{
    padding: 7px 70px;
}
#AyCard button{
    padding: 7px 128px;
}
#Camount{
    display: flex;
    padding-left: 150px;
}
.cardDisplay {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 20px;
    left: 30px;
  }
  #cardimage{
    width: 500px;
  }
